#main-menu-columns span {
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 13px !important;
    line-height: 19px !important;
}

#main-menu-columns .inactive-label .MuiIconButton-label {
    color: #808080 !important;
}

#main-menu-columns .inactive-label .MuiFormControlLabel-label {
    cursor: pointer !important;
}


#main-menu-columns .active-label .MuiFormControlLabel-label {
    cursor: pointer !important;
}

#main-menu-columns .active-label .MuiIconButton-label {
    color: #1D1B84 !important;
}

.MuiFormControlLabel-root {
    width: 100%;
}
